                <!-- Team Section -->
                <div class="wrap team-wrap grey" id="team">
                    <div class="grid grid-pad">
                        <div class="content" >
                            <h2>Our Team</h2>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="https://pbs.twimg.com/profile_images/576217394013556736/FUz10Q8N_400x400.jpeg" alt="">
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Maran Nagarajan</h5>
                                            <span>CEO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="https://static.wixstatic.com/media/8376c9_8de9fd5c284b4054851f88ed2139fe05~mv2.png/v1/fill/w_276,h_276,al_c,q_85,usm_0.66_1.00_0.01/Ratnakumar.webp"  alt="">
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Ratnakumar Nagarajan</h5>
                                            <span>Head of Products</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="https://image4.owler.com/ceo/George_Guardian_owler_20170226_124947_original.png" height="260px" alt="">
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>George Gaurdian</h5>
                                            <span>Head of ROW</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGej9WUfuvHNA/profile-displayphoto-shrink_400_400/0/1593942897378?e=1652918400&v=beta&t=MrtrchZkBW2R7wxuFMBtl6SGnNUDczCcDcfdEwjgmz8"  alt="">
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Rajesh kumar D</h5>
                                            <span>SAP Consultant </span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Team Section -->

                <!-- CurveUp -->
                <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg>