                <!-- Footer -->
                <footer class="wrap" id="about">
                    <div class="grid grid-pad" >
                        <div class="col-1-3">
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>About</h3>
                                    <div class="textwidget">
                                        <p><b>Our Mission</b></p>
                                        <p>To remain a socially responsible corporate entity, which will instill a sense of pride, joy and accomplishment, in every facet of its interaction, to everyone associated, be it the employees, customers, vendors or stakeholders.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Client</h3>
                                    <div class="fwidget">
                                        <ul>
                                            <li><a href="#0">FINTRAX GROUP</a></li>
                                            <li><a href="#0">BAKER HUGHES</a></li>
                                            <li><a href="#0">BAASKAAR</a></li>
                                            <li><a href="#0">ESPAC, ETC</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>LeaderShip</h3>
                                    <div class="textwidget">
                                       
                                        <p>At Kaar Tech, all our leaders are pioneers in driving technological transformation forward. We bring together over two decades of industry experience in the global market.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="social-footer">
                        <div class="grid grid-pad">
                            <div class="col-1-1" >
                                <div class="content">
                                    <div class="social-set">
                                        <a  href="#0"><img src="https://img.icons8.com/material-rounded/24/26e07f/facebook-new.png"/></a>
                                        <a  href="#0"><img src="https://img.icons8.com/ios-glyphs/24/26e07f/twitter--v1.png"/></a>
                                        <a  href="#0"><img src="https://img.icons8.com/ios-filled/24/26e07f/linkedin.png"/></a>
                                        <a  href="#0"><img src="https://img.icons8.com/ios-filled/24/26e07f/snapchat--v1.png"/></a>
                                        <a  href="#0"><img src="https://img.icons8.com/ios-glyphs/24/26e07f/instagram-new.png"/></a>
                                    </div>
                                    <p class="source-org copyright">© 2022 | All Rights Reserved Created By RAJESH KUMAR D (FULL STACK DEVELOPER)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->