            <!-- Services Section -->
            <div class="wrap services-wrap" id="services">
                <section class="grid grid-pad services">
                    <h2>Our Services</h2>
                    <div class="col-1-4 service-box service-1" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon "><img src="https://img.icons8.com/ios/30/000000/like--v2.png"/></i>
                            </div>
                            <div class="service-entry">
                                <h3>Industry Expertise</h3>
                                <p>Deep SAP S/4HANA expertise developed through global implementation, conversion, and selective data transition projects.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-2" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon "><img src="https://img.icons8.com/ios/30/000000/star--v1.png"/></i>
                            </div>
                            <div class="service-entry">
                                <h3>KTern</h3>
                                <p>SAP Digital Transformation Automation Platform built leveraging 16+ years of Pure-Play SAP Expertise, an auto-learning knowledge base, and timelines.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-3">
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon "> <img src="https://img.icons8.com/ios/30/000000/laptop--v2.png"/></i>
                            </div>
                            <div class="service-entry">
                                <h3>Development</h3>
                                <p>Trained and Certified SAP Specialized Full Stack Techno Functional Consultants experienced in SAP technology, implementations, support, and business consulting.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-4" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon "> <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"/></i>
                            </div>
                            <div class="service-entry">
                                <h3>SAP Support Models</h3>
                                <p>Tested and perfected SAP Support Models trusted and appreciated by 185+ SAP customers who maximize their SAP investments through Kaar Tech SAP Support Services.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Services Section -->
            
            <!-- CurveDown -->
            <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
            </svg>